@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* color */
    --background-color1: hsl(326, 44%, 94%);
    --background-color2: #fff;
    --color: hsl(212, 21%, 14%);
    --color2: hsl(228, 12%, 48%);
    --color3: hsl(158, 36%, 37%);

    /* font */
    --font-size: 14px;
    --font-family: "Montserrat", sans-serif;
    --font-family2: "Fraunces", sans-serif;

    /* measurements */
    --margin-small: 1rem;
    --margin-normal: 1.5rem;
    --margin-big: 2rem;
    --margin-neg: -1rem;
    --width: 600px;
    --width2: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color1);
    font-size: var(--font-size);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 var(--margin-normal);
}

.container {
    max-width: var(--width);
}

.container article:first-child img {
    border-radius: 0.6rem 0.6rem 0 0;
}

.container article:last-child {
    background-color: #fff;
    padding: var(--margin-normal);
    margin-top: var(--margin-neg);
    border-radius: 0 0 0.6rem 0.6rem;
}

img {
    max-width: var(--width2);
}

h1, .price {
    font-family: var(--font-family2);
}

h1 {
    color: var(--color);
    margin-bottom: var(--margin-small);
    font-size: var(--margin-big);
}

h2 {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color2);
    margin: var(--margin-small) 0;
    letter-spacing: 0.2rem;
}

p {
    color: var(--color2);
    line-height: 1.8;
    margin-bottom: var(--margin-big);
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-big);
}

ul li:first-child {
    font-size: var(--margin-big);
    margin-right: var(--margin-normal);
    color: var(--color3);
}

ul li:last-child {
    color: var(--color2);
}

button, li {
    font-family: inherit;
}

.btn {
    background-color: var(--color3);
    color: #fff;
    font-weight: 700;
    padding: var(--margin-small) var(--margin-big);
    font-size: var(--margin-small);
    width: var(--width2);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: var(--color3);
}

.attribution {
    font-size: 14px;
    margin-top: var(--margin-big);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.attribution span:last-child {
    margin: 0.7rem;
}

.attribution a {
    color: var(--color3);
}

@media (min-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container article:first-child img {
        border-radius: 0.6rem 0rem 0rem 0.6rem;
        width: var(--width2);
    }

    .container article:last-child {
        border-radius: 0rem  0.6rem 0.6rem 0rem;
        margin-top: 0;
    }

    p {
        margin-bottom:  var(--margin-small);
    }

    picture img {
        height: 100%;
    }

    .attribution {
        flex-direction: row;
    }

    .attribution span:first-child {
        margin-right: 2rem;
    }
}