:root {
      --background-color: rgb(247, 233, 225);
      --secondary-background: white;
      --main-color: black;
      --secondary-color: rgb(4, 97, 12);
      --hover-color: rgb(3, 58, 3);

      --font-heading: 'Fraunces', serif;
      --font-body: 'Montserrat', sans-serif;
      --font-sm: clamp(0.75rem, 1.2vw, 0.875rem);
      --font-md: clamp(0.875rem, 1.5vw, 1.05rem);
      --font-lg: clamp(1.1rem, 2vw, 1.2rem);
      --font-llg: clamp(1.5rem, 2vw, 2rem);
      --font-xl: clamp(2.5rem, 1.7vw, 3.5rem);
      --font-xll: clamp(3rem, 1.7vw, 3.5rem);

      --spacing-min: 0.4rem;
      --spacing-sm: 0.5rem;
      --spacing-md: 1rem;
      --spacing-lg: 1.5rem;
      --spacing-xl: 2rem;
      --spacing-xll: 2.3rem;
      --spacing-xxl: 4rem;

      --radius: 0.5rem;
      --radius-md: 1rem;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--font-body);
}

@font-face {
      font-family: 'montserrat';
      src: url('assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
      font-family: 'Fraunces';
      src: url('assets/fonts/Fraunces_72pt-Bold.ttf');
}

body {
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: var(--background-color);
      color: var(--main-color);
}

.wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.container {
      margin: var(--spacing-xxl) var(--spacing-md) var(--spacing-md);
      max-width: min(100%, 30rem);
      background: var(--secondary-background);
      border-radius: var(--radius);
}

header img {
      margin: 0 0 var(--spacing-xl) 0;
      width: 100%;
      display: block;
      height: auto;
      border-radius: var(--radius) var(--radius) 0 0;
}

header p {
      margin: 0 var(--spacing-xl);
      padding: var(--spacing-md) 0 0;
      letter-spacing: var(--spacing-min);
      font-size: var(--font-md);
}

header h1 {
      margin: var(--spacing-lg) var(--spacing-xl);
      padding: var(--spacing-md) 0 0;
      font-family: var(--font-heading);
      font-size: var(--font-xl);
      line-height: var(--spacing-xll);
}

main p {
      margin: 0 var(--spacing-xl);
      line-height: var(--spacing-lg);
      padding: var(--spacing-sm) 0 0;
      font-size: var(--font-lg);
      
}

.price {
      margin: var(--spacing-lg) var(--spacing-xl) var(--spacing-sm);
      display: flex;
      gap: var(--spacing-md);
      padding: var(--spacing-sm) 0 0;
}

.new-price {
      color: var(--secondary-color);
      font-family: var(--font-heading);
      font-size: var(--font-xll);
      font-weight: bolder;
}

.old-price {
      align-items: center;
      display: flex;
}

.cart-link {
      text-decoration: none;
      display: block;
      color: var(--secondary-color);
}

.cart-container {
      background: var(--secondary-color);
      margin: var(--spacing-lg) var(--spacing-xl);
      color: var(--secondary-background);
      padding: var(--spacing-xl);
      border-radius: var(--radius);
      display: flex;
      gap: var(--spacing-md);
      justify-content: center;
      align-items: center;
}

.cart-container p {
      font-size: var(--font-lg);
}

.cart-container:hover {
      background: var(--hover-color);
      font-weight: bold;
}

.container-footer {
      max-width: 28rem;
      margin: var(--spacing-lg);
      display: block;
}

.container-footer p {
      padding: var(--spacing-sm);
      font-size: var(--font-md);
}

.container-footer p a {
      text-decoration: none;
      color: var(--secondary-color);
      font-weight: 700;
}

.container-footer p a:hover {
      text-decoration: underline;
      color: var(--hover-color);
}

@media (min-width: 49em) {
      .container {
            display: flex;
            max-width: min(100%, 60rem);
            border-radius: 0 var(--radius-md) var(--radius-md) 0;

      }

      header img {
            object-fit: cover;
            margin: 0;
            border-radius: var(--radius-md) 0 0 var(--radius-md);
            height: 100%;
            width: 220%;
            
            
            
      }

      
}